# Configuracion compartida para todos los servicios
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

spring:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop
  h2:
    console:
      enabled: true

# Configuracion de Zipkin (compartida)
management:
  tracing:
    sampling:
      probability: 1.0  # 1.0 = 100% de requests (usar 0.1 en produccion)
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"

app:
  message: Hello from Config Server